.privacy-container {  
    /* max-width: 800px;   */
    margin: auto;  
    padding: 20px;  
    font-family: Arial, sans-serif;  
    background-color: #f9f9f9;  
    border-radius: 8px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
}  

.section-title {  
    color: #444;  
    border-bottom: 2px solid #818589;  
    padding-bottom: 10px;  
    margin-bottom: 15px;  
}  

.info-list {  
    list-style: square;     
    margin: 10px 0;  
    padding-left: 20px;  
}  

.contact-details {  
    background-color: #fff;  
    padding: 15px;  
    border-radius: 5px;  
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);  
}  

.intro-text, .sharing-info, .data-security, .cookies-policy, .contact-info, .consent-text {  
    margin: 10px 0;  
    font-size: 14px;  
    color: #666;  
}  